body{
    margin: 0;
    padding: 0;
    background-color: #F8F8FF;
}

nav{
    background-color: #00cccc;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.main-container{
    border-radius: 8px;
    background-color: white;
    padding-bottom: 70px;
    width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin: 40px 0 50px 0;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #00cccc;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}