body{
    margin: 0;
    padding: 0;
    background-color: #F8F8FF;
}

nav{
    background-color: #00cccc;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin: 40px 0 50px 0;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
}

input, select {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.hidden {
    display: none;
}

button {
    font-weight: bold;
    background-color: #00cccc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0 20px 0;
}

button:hover{
    background-color: #01b1b1;
}

footer{
    background-color: #00cccc;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}